body, html {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.logo {
	margin-bottom: 15px;
	text-align: center;
}

.accordion__container {
	margin-top: 5%;
}

.accordion {
	margin: auto;
	padding: 0px;
	max-width: 460px;
}

.accordion__item {
	margin: 5px 0;
	border-radius: 25px;
	list-style: none;
	cursor: pointer;
	background: #e7e7e7;
}

.accordion__item-tittle {
	display: block;
	position: relative;
	padding: 15px;
	text-decoration: none;
	font: 14px/16px "FiraSans-Medium", Arial, sens-serif;
	transition: background .5s ease-in-out,
	color .5s ease-in-out;
}

.accordion__item-tittle:after {
	content: '';
	position: absolute;
	margin-top: -5px;
	margin-right: 6px;
	right: 3%;
	top: 50%;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 12px solid #ff8663;
	transition: all 0.2s ease;
}

.accordion__item-tittle:hover {
	color: #fff;
	background: #ff8663;
}

.accordion__item-tittle:hover:after {
	border-color: #fff transparent;
}

.accordion__item:nth-child(2n)
.accordion__item-tittle {
	border-radius: 25px;
	color: #000;
}

.accordion__item:nth-child(2n+1)
.accordion__item-tittle {
	border-radius: 25px;
	background-color: #696666;
	color: #fff;
}

.accordion__item-tittle:active:after {
	transform: rotate(180deg);
	border-color: #fff transparent;
	transition: all 0.2s ease;
}

.accordion__item-content {
	overflow: hidden;
	max-height: 0;
	border-radius: 25px;
	transition: max-height 1s ease-in-out;
	font: 12px/14px "FiraSansLight", Arial, sens-serif;
}

.accordion__item_open .accordion__item-tittle {
	background: #ff8663;
	color: #fff;
	position: relative;
}

.accordion__item_open .accordion__item-tittle:after {
	transform: rotate(180deg);
	border-color: #fff transparent;
	transition: all 0.2s ease;
}

.accordion__item_open .accordion__item-content {
	max-height: 250px;
}

.accordion__item-list {
	padding: 5px 15px;
	list-style: none;
}

.accordion__item-cell {
	margin: 10px 0;
}

.accordion__item-cell._link {
	margin: 0;
	text-decoration: none;
}

.accordion__item-text {
	color: #696666;
}